.navbar_container{
   background: linear-gradient(95deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%);
   position: fixed;
   z-index: 1000;
   width: 100vw;
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 1.3rem;
   display: flex;
   align-items: center;
   justify-content: end;
}

.navbar{
   display: flex;
   gap: 4rem;
   margin-right: 4rem;
}

.link{
   color: #ffffff70;
   cursor: pointer;
   transition: color .3s ease;

   &:hover{
      color: #ffffff;
   }
}

/* @media screen and (max-width:480px){
   .navbar_container{
      background: #000000;
      justify-content: center;
   }

   .navbar{
      gap: 1rem;
      margin: 0;
      width: 100vw;
      justify-content: space-evenly;
   }

} */