/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,600&display=swap');

body{
   margin: 0;
   width: 100vw;
   background-color: black; 
   color: #ffffff;
   font-family: 'Roboto Flex', sans-serif;
   overflow-x: hidden;
   user-select: none;
}

body::-webkit-scrollbar{
   background: transparent;
   border-radius: 100rem;
   width: 8px;
}

body::-webkit-scrollbar-thumb{
   background-color: #ffffff;
   border-radius: 100rem;
   width: 10px;
} */