@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Rubik+Mono+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: "Roboto", sans-serif;
}

@layer base {
   /* li{
      @apply font-bold text-2xl cursor-pointer text-[#f2e9e490] hover:text-[#f2e9e4] transition-colors duration-150;
   }

   ul{
      @apply flex flex-col gap-6 text-center list-none;
   } */

   h2 {
      @apply font-semibold text-xl my-5 text-dark;
   }

   hr {
      @apply h-px min-w-full my-6 border-dark-75-opacity;
   }

   p {
      @apply text-sm text-center mx-2 text-dark;
   }

   .resume-btn,
   .job-btn {
      @apply text-light bg-yellow text-lg w-2/3 max-w-md h-11 rounded-md border shadow-[rgba(50,50,93,0.10)_0px_6px_12px_-2px,_rgba(0,0,0,0.25)_0px_3px_7px_-3px] border-yellow hover:bg-transparent hover:text-yellow hover:shadow-none hover:translate-y-0.5 transition-all duration-300;
   }

   .icons-stack {
      @apply p-5 min-w-0 min-h-0 max-w-[10rem] max-h-[10rem];
   }

   .icon-container {
      @apply shadow-[0_3px_10px_rgb(0,0,0,0.2)] min-w-0 min-h-0 max-w-[15rem] max-h-[15rem] rounded-lg flex justify-center items-center m-2;
   }

   .card {
      @apply w-4/5 md:w-2/5 shadow-[0_3px_10px_rgb(0,0,0,0.2)] rounded-lg p-3 hover:scale-105 transition-transform duration-300;
   }

   .scrum-link {
      @apply flex flex-row gap-2 justify-start items-center underline text-sm italic text-dark hover:text-dark-75-opacity transition-all duration-300;
   }

   .contact-link {
      @apply  hover:fill-dark-85-opacity transition-all duration-300;
   }

   .footer {
      @apply w-screen h-12 flex flex-row items-center justify-center gap-5 bg-light shadow-[-10px_-10px_30px_4px_#00304915,_10px_10px_30px_4px_#00304925];
   }
}
